body {
  background-color: black;
  color: white;
  font-family: Windsor;
}

.title {
	text-align: center;
	font-size: 200%;
}

.link {
	text-align: center;
}

.content {
	text-align: center;
	font-size: 120%;
}

a {
	display: block;
	color: white;
}

@font-face {
  font-family: Windsor;
  src: url("Windsor Regular.ttf");
}

#goback {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 300px;
	border: 3px solid white;
	text-align: center;
	padding: 5px;
	width: auto;
}

